:root {
    --brown: #5b3917;
  }
  
  .checkoutsec {
    padding: 2rem 0;
    background-color: #f9f9f9;
  }
  
  .checkouttitle {
    color: var(--brown);
    font-size: 3rem;
    font-weight: 600;
    border-bottom: solid 3px var(--brown);
    margin-bottom: 1.5rem;
  }
  
  .checkouttitle p {
    font-weight: 600;
    margin: 0;
  }
  
  .shippingForm p,
  .orderSummary p {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .shippingForm form > div,
  .orderSummary > div {
    margin-bottom: 1rem;
  }
  
  .tabletheme {
    background-color: #5b3917 !important;
  }
  
  .tabletheme th {       
    background-color: #5b3917 !important;
    color: #fff !important;
    border-color: #5b3917 !important;
  }
  
  .table-responsive {
    overflow-x: auto;
  }

  .btn-brown {
    background-color: #5b3917 !important;
    color: white !important;
    border: none !important;
  }
  
  .btn-brown:hover {
    background-color: #3f2a11 !important; /* slightly darker on hover */
  }
  


  .checkout-total-table td {
    padding: 12px;
    font-size: 1rem;
    color: #333;
  }
  
  .checkout-total-table tr.table-total-row {
    background-color: #5b3917 !important;
    color: #fff;
  }
  





  
  /* Responsive Fixes */
  @media (max-width: 767px) {
    .checkouttitle {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 0;
    }
  
    .shippingForm,
    .orderSummary {
      margin-top: 2rem;
    }
    .checkoutsec{
     padding: 1rem 0 0;
    }
  }
  